.footer-area {
    padding: 20px 0;
    background-color: #1F2A44;
    color: #cac7c7;
}

.footerWrap {
    width: 100%;
}

.footerTop {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #dddddd2b;
    padding-bottom: 8px;
}

.footerBottom {
    margin-top: 8px;
    text-align: center;
    padding-top: 8px;
}

.copy_right_text {
    color: #777;
    font-size: 14px;
}